.home-bg {
    background-image: url("/img/banners/Carlow_IT-1000x500.jpg");
    background-color: #000000;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 1000px;
    max-height: auto;
   }

.home-bg-txt {

    color: #ffffff;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.597);
}

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
      }
      .card-registration .select-arrow {
        top: 13px;
      }

      .logo {
        max-height: 150px;
        max-width: 250px;
      }
      .background-main {
        background-color: rgb(26, 30, 33)
      }